@font-face {
    font-family: "Archangelsk";
    font-style: normal;
    font-weight: 400;
    src: local("Archangelsk"), 
    url("../fonts/Archangelsk.woff") format("woff");
}

@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Black.ttf) format('truetype');
}

body{
    font-family: 'Archangel';
    padding: 0;
    margin: 0;
    font-style: normal;
    font-size: 18px;
    line-height: 1.2;
    font-weight: normal;
}

.none{
    display: none !important;
}

.container {
    position: relative;
    padding: 0 36px;
    width: 100%;
    max-width: 1326px;
    margin: 0 auto; 
}